---
layout: default
title: Divisional events
---

{% assign lim = 0 %}
<div id="main_content_wrap" class="outer">
  <section id="main_content" class="inner">
  {% if lim > 0 %}
  <h2>Directions to Upcoming Events:</h2>
  <hr align="LEFT">
  {% for tag in site.tags.d11 limit: lim %}
  <p>
    <span style="font-size: 20px;"><a href="{{ tag.url }}"><strong>{{ tag.title }}</strong></a></span><br>
    <span style="font-size: 16px;">{{ tag.time }}<br>
    {{ tag.location }}</span><br>
    <hr align="LEFT">
  </p>
  {% endfor %}
  {% endif %}
  <h3><a href="/d11/events/">All Divisional events</a>
  </section>
</div>
