/******************************************************************************
 * Christmas 2014 Special Stylesheet                       christmas2014.css  *
 * Author: Terrell F. Merritt                               tfm[at]terlmi.us  *
 *                                                                            *
 * Overrides some styles in the main stylesheet to be more Christmas-themed.  *
 ******************************************************************************/

a, a:hover { color: #c1d82f; }

#nav_wrap { background: #c41230; width: 100%; }

.navbar-default { background: #c41230; border: 0; display: table; margin: auto; }
.navbar-nav > li > a { color: #ffffff!important; font-size: 24px; }
.navbar-nav > li a:link { text-decoration: none; color: #ffffff; }
.navbar-nav > a:hover { background: #c41230!important; }
.navbar-nav > .active > a { color: #231f20!important; background: #ffffff!important; }
.navbar-nav > .active > a:hover { background: #ffffff!important; }
.dropdown-menu > li > a { color: #231f20!important; }

#footer_wrap { background: #c41230; }
footer a, footer a:hover { color: #ffffff; }

.no-link-color a { color: #c1d82f; }
