---
layout: default
title: Terrell's Transit Directions
published: true
---
<div id="main_content_wrap" class="outer">
  <section id="main_content" class="inner">
    
    <h3>New! Weekend Information</h3>
    <p>
        A page providing general information on weekend transit service is available <a href="/weekend_information">here</a>.<br>
        It's sort of a quick guide for which trains you shouldn't wait for and what other changes typically exist.
    </p>
  </section>
  <section class="inner">
   <h3>Directions:</h3>
   <hr align="LEFT">
  {% for direction in site.posts limit: 2 %}
    <p><span style="font-size: 20px;"><a href="{{ direction.url }}"><strong>{{ direction.title }}</strong></a>
    {% if direction.entity %}[{{ direction.entity }}]{% endif %}<br></span>
    <span style="font-size: 16px;">{{ direction.time }}</span></h4></p>
    <hr align="LEFT">
  {% endfor %}
  <br>
      <p>If you would like to contact me, fill out <a href="/contact">this contact form</a> or email me at <a href="mailto:terrellthemtaguy@stuykc.org">terrellthemtaguy@stuykc.org</a>.</p>
  </section>
</div>
