---
layout: club
title: Stuyvesant Key Club
website: http://stuykc.org/
---
{% assign lim = site.data.upcoming_events.stuy %}
{% if lim > 0 %}
{% for tag in site.tags.stuy reversed limit: lim %}
  <p><span class="index_title"><a href="{{ tag.url }}">{{ tag.title }}</a></span><br>
  <table><tbody>
    <span class="index_descr">
    <tr>
  	  {% if tag.time %}<td class="title-cell"><strong>Date: </strong></td><td>{{ tag.time }}</td>{% endif %}
      {% if tag.times %}<td class="title-cell"><strong>Dates: </strong></td><td>{% for time in tag.times %}{{ time }}<br>{% endfor %}</td>{% endif %}
    </tr>
    </span>
  </tbody></table>
  <table><tbody>
    <span class="index_descr">
    <tr>
      {% if tag.location %}<td class="title-cell"><strong>Location: </strong></td><td>{{ tag.location }}</td>{% endif %}
      {% if tag.locations %}<td class="title-cell"><strong>Locations: </strong></td><td>{% for location in tag.locations %}{{ location }}<br>{% endfor %}</td>{% endif %}
    </tr>
    </span>
  </tbody></table>
  <hr align="LEFT"></p>
{% endfor %}
{% else %}
  <h4>Sorry, there are no upcoming {{ page.title }} events with posted directions.</h4>
  <hr align="LEFT">
{% endif %}
