---
layout: default
title: Stuyvesant Key Club events
---

{% assign lim = 1 %}
<div id="main_content_wrap" class="outer">
  <section id="main_content" class="inner">
  {% if lim > 0 %}
  <h2>Directions to Upcoming Events:</h2>
  {% for tag in site.tags.stuy reversed limit: lim %}
  <p>
    <span style="font-size: 20px;"><a href="{{ tag.url }}"><strong>{{ tag.title }}</strong></a></span><br>
    <span style="font-size: 16px;">{{ tag.time }}<br>
    {{ tag.location }}</span><br>
    <hr align="LEFT">
  </p>
  {% endfor %}
  {% else %}
  <h3>Sorry, there are no upcoming {{ page.title }} with posted directions.</h3>
  {% endif %}
  <h3><a href="/stuy/events/">All Stuyvesant Key Club events</a>
  </section>
</div>
