<div id="footer_wrap" class="outer">
  <footer class="inner" style="text-align: center;">
      <p class="no_link_color"><strong>&copy; 2014-2015 The Department of Transit &amp; Directions of <a href="http://nydkc11.org">Division 11 of the New York District of Key Club International</a>. Created by Terrell Frederick Merritt.</strong><br></p>
      <div id="footer_left">Aaron Cheung, Lieutenant Governor<br>New York District Key Club Division 11</div>
      <div id="footer_right">Terrell Frederick Merritt, Chair<br>Division 11 Department of Transit &amp; Directions</div>
      <div class="clear"></div>
  </footer>
</div>
