<div id="footer_wrap" class="outer">
  <footer class="inner" style="text-align: center;">
      <p class="no_link_color"><strong>&copy; 2014 <a href="http://nydkc11.org">New York District Key Club Division 11</a></strong><br></p>
      <p>This website is maintained by the Division 11 Department of Transit &amp; Directions&#58;<p>
      <div id="footer_left">Aaron Cheung, Lieutenant Governor<br>New York District Division 11</div>
      <div id="footer_right">Terrell Frederick Merritt, Chair<br>Division 11 Department of Transit &amp; Directions</div>
      <div class="clear"></div>
  </footer>
</div>
