<div id="footer_wrap" class="outer">
  <footer class="inner" style="text-align: center;">
    <p>&copy; 2014 Division 11 of the New York District of Key Club International. Edited by Terrell Frederick Merritt of The Bronx High School of Science Key Club.  <strong>Disclaimer:</strong> While unlikely, last minute service changes may supercede the information provided on this site. Visit <a href="http://www.mta.info">the official Metropolitan Transportation Authority website</a> for the latest transit information.</p>
  </footer>
</div>
