---
layout: default
title: Hunter Key Club events
---
{% assign lim = site.data.upcoming_events.hunter %}
  {% if lim > 0 %}
  <h2>Directions to Upcoming Events:</h2>
  {% for tag in site.tags.hunter reversed limit: lim %}
  <p><span style="font-size: 20px;"><a href="{{ tag.url }}"><strong>{{ tag.title }}</strong></a></span><br>
    {% if tag.time %}<strong>Date: </strong>{{ tag.time }}<br>{% endif %}{% if tag.times %}<strong> Dates: </strong>{% for time in tag.times %}{{ time }}<br>{% endfor %}{% endif %}
    {% if tag.location %}<strong> Location: </strong>{{ tag.location }}{% endif %}{% if tag.locations %}<strong>Locations: </strong>{% for location in tag.locations %}{{ location }}<br>{% endfor %}{% endif %}
    </span>
    <hr align="LEFT">
  </p>
  {% endfor %}
  {% else %}
  <h3>Sorry, there are no upcoming {{ page.title }} with posted directions. Check the <a href="http://hunterkeyclub.weebly.com/">official website</a> for possible upcoming events.</h3>
  {% endif %}
  <h3><a href="/hunter/events/">All Hunter Key Club events</a>
