---
layout: default
title: All Directions
published: true
---
<div id="main_content_wrap" class="outer">
  <section id="main_content" class="inner">
  
      {% for direction in site.posts %}
        <p><span style="font-size: 24px;"><a href="{{ direction.url }}"><strong>{{ direction.title }}</strong></a></span><br>
        <span style="font-size: 16px;">{% if direction.for %}For {{ direction.for }}<br>{% endif %}{{ direction.time }}<br>
        {{ direction.location }}</span></p>
        <hr align="LEFT">
      {% endfor %}

  </section>
</div>