---
layout: default
---
<div id="main_content_wrap" class="outer">
    <section id="main_content" class="inner">
    <p>
    <style>td {border: none;} table {border: none;} img {padding: 0; margin: 0; border: none;}</style>
        <table>
            <tbody>
            <tr>
                {% if page.time %}
                <td><strong>Date &amp; Time:</strong></td>
                <td>{{ page.time }}</td>
                {% endif %}
                {% if page.times %}
                <td><strong>Date &amp; Times:</strong></td>
                <td>{% for time in page.times %}{{ time }}<br>{% endfor %}</td>
                {% endif %}
            </tr>
            <tr>
                {% if page.location %}
                <td><strong>Location:</strong></td>
                <td>{{ page.location }}{% if page.gmap %}<br><a href="{{ page.gmap }}" style="color:#0000FF; text-align:left">(Click here for directions from Google Maps!)</a>{% endif %}{% if page.gmaps %}<br>{% for gmap in page.gmaps %}<a href="{{ gmap.link }}" style="color:#0000FF; text-align:left">({{ gmap.for %}}: Click here for directions from Google Maps!)</a><br>{% endfor %}{% endif %}</td>
                {% endif %}
                {% if page.locations %}
                <td><strong>Locations:</strong></td>
                <td>{% for loc in page.locations %}{{ loc }}<br>{% endfor %}{% if page.gmap %}<a href="{{ page.gmap }}" style="color:#0000FF; text-align:left">(Click here for directions from Google Maps!)</a>{% endif %}{% if page.gmaps %}{% for gmap in page.gmaps %}<a href="{{ gmap.link }}" style="color:#0000FF; text-align:left">({{ gmap.for %}}: Click here for directions from Google Maps!)</a><br>{% endfor %}{% endif %}</td>
                {% endif %}
            </tr>
            <tr>    
            {% if page.nearest-stations %}
                <td><strong>Nearest Stations:</strong></td>
                <td>{% for station in page.nearest-stations %}{{ station }}<br>{% endfor %}</td>
            {% endif %}
            {% if page.nearest-station %}
                <td><strong>Nearest Station:</strong></td>
                <td>{{ page.nearest-station }}</td>
            {% endif %}
            </tr>
            <tr>
                <td><strong>Service Changes:</strong></td> 
                <td>{% for change in page.changes-brief %}{{ change }}<br>{% endfor %}</td>
            </tr>
            </tbody>
        </table> 
        {% if page.changes-ext %} For more details on service changes, click the following link: <a href="{{ page.changes-ext }}">[link]</a>{% endif %}
        {% if page.changes-custom %}{{ page.changes-custom }}{% endif %}
    <div align="center">
    
    {% if page.gmap %}<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="{{ page.gmap }}&amp;output=embed"></iframe>{% endif %}
    {% if page.location %}
        {% if page.gmaps %}
            {% for gmap in page.gmaps limit: 1 %}<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="{{ gmap.link }}&amp;output=embed"></iframe>{% endfor %}
        {% endif %}
    {% endif %}
    {% if page.locations %}
        {% for gmap in page.gmaps %}
        <iframe width="375" height="308" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="{{ gmap.link }}&amp;output=embed"></iframe>
        {% endfor %}
    {% endif %}
    {{ content }}
    </div>
    <p>If clarification on anything provided in these directions is necessary or contact with me is otherwise needed, use <a href="/contact">this contact form</a> or feel free to email me at <a href="mailto:terrellthemtaguy@stuykc.org">terrellthemtaguy@stuykc.org</a>.</p>
    </section>
</div>
