---
layout: default
title: Service Change
---
<div id="main_content_wrap" class="outer">
    <section id="main_content" class="inner">
    <div align="center">
    <style>td {border: none;} table {border: none;} img {padding: 0; margin: 0; border: none;}</style>
    <table>
        <tbody>
            <tr>
                <td>{{ page.lines-affected }}</td>
            </tr>
            <tr>
                <td>{{ page.weekend }}</td>
            </tr>
            <tr>
                <td>{{ page.change-brief }}</td>
            </tr>
        </tbody>
    </table>
    </div>
    {{ content }}
    </section>
</div>
