---
layout: default
title: Service Change
---
<div id="main_content_wrap" class="outer">
    <section id="main_content" class="inner">
    <div align="center">
    <style>td {border: none; text-align: center;} table {border: none;} img {padding: 0; margin: 0; border: none;}</style>
    <table>
        <tbody>
            <tr>
                <td>{{ page.lines-affected }}</td>
                <td><style="font-size:48px;">{{ page.timeframe }}</style><br>{{ page.time }}</td>
            </tr>
            <tr>
                <td style="text-align: left;">{{ page.brief }}</td>
            </tr>
            <tr>
                <td style="text-align: left;">{{ content }}</td>
            </tr>
        </tbody>
    </table>
    </div>
    </section>
</div>
