---
layout: default
---
<!-- HEADER -->
<div id="header_wrap" class="outer">
    <header class="inner">
        <h1 id="project_title">Service Changes</h1>
        <h2 id="project_tagline">{{ page.time }}</h2>
    </header>
</div>

<!-- MAIN CONTENT -->
<div id="main_content_wrap" class="outer">
    <section id="main_content" class="inner">
    <p>
        {{ content }}
        </p>
    </section>
</div>

<!-- FOOTER  -->
<div id="footer_wrap" class="outer">
  <footer class="inner">
    <p>&copy; 2014 Terrell Merritt of The Bronx High School of Science. While unlikely, last minute service changes may supercede the information provided on this site. Visit the official Metropolitan Transportation Authority website at <a href="http://www.mta.info">mta.info</a> for the latest transit information.</p>
  </footer>
</div>
